
/* PC 해상도에 적용 */
/* Footer
================================================ */
	
footer{	
	position:fixed;
	bottom:0;
	width:100%;
	height:57px;
	/*background-color:#1f1f1f;*/ 
	background-image:url(../images/footerbg.png);
	z-index:1;
	}

	
	
.jyplogo a{ 
	position:relative;
	display:block;
	width:115px;
	height:45px;
	background-image:url(../images/jyplogo-b.png); 
	text-indent:-9999px;
	top:5px;
	left:7%;
	float: left;
	z-index:1;
	}
	
.snsicon{
	position:relative;
	display:block;
	width:200px;
	height:30px;
	text-align:center;
	top:15px;
	right:3%;
	float: right;
	}	
	

/* SNS ICON
================================================ */

a.sb,
.sb a {
	float:left;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -900em;
	text-decoration: none;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: 0 10px 0 0;
	background-color: #e4e4e4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}



/* for IE */
*:first-child+html a.sb,
*:first-child+html .sb a {
	text-indent: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}

.sb {
	margin: 0;
	padding: 0;
}


.sb a {
opacity: 0.75;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.sb a:hover { opacity: 1.0;}
.sb li {
	margin: 0;
	padding: 0;
	display: inline;
}

a.sb.twitter,
.sb a.twitter {
	background-image: url(../images/sns/twitter_bird.png);
}

a.sb.facebook,
.sb a.facebook {
	background-image: url(../images/sns/facebook.png);
}

a.sb.youtube,
.sb a.youtube {
	background-image: url(../images/sns/youtube.png);
}
a.sb.fanca,
.sb a.fanca {
	background-image: url(../images/sns/heart.png);
}
a.sb.fans,
.sb a.fans {
	background-image: url(../images/sns/fans.png);
}
a.sb.insta,
.sb a.insta {
	background-image: url(../images/sns/insta.png);
}

/* no-border style */
a.sb.no-border,
.sb.no-border a {
	border: none;
}



/* 태블릿  */
@media only screen and (max-width: 768px){
footer{	
	position:absolute;
	bottom:0;
	width:100%;
	height:57px;
	
	/*background-color:#1f1f1f;*/
	z-index:1;
	position: fixed;/**/
	}

.snsicon{
	right:3%;
	}	
	}

/* 모바일 해상도에 적용 */
@media only screen and (max-width: 479px){

footer{	
	position:fixed;
	bottom:0;
	width:100%;
	height:37px;
	background-image: none;
	background-image:url(../images/footerbg.png);
	/*background-color:#1f1f1f;*/
	z-index:1;
	}

.jyplogo a{ 
	background-image:url(../images/jyplogo-b.png);
	background-repeat:no-repeat;
	background-position:10% 5%;
	background-size:60%;
	text-indent:-9999px;
	left:7%;
	float: left;
	z-index:1;
	}
	
.snsicon{
	position:relative;
	display:block;
	width:auto;
	height:20px;
	text-align:center;
	top:7px;
	right:7%;
	float: right;
	}	
		

a.sb,
.sb a {
	float:left;
	width: 23px;
	height: 23px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size:90%;
	margin: 0 7px 0 0;
	background-color: #e4e4e4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
		
	
	}		