
.mainlogo1 {
	/*	display:none;*/
	width: 274px;
	height: 192px;
	background: url(../images/mainlogo.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 1.5% auto 0;
	padding: 0;
}

.mainlogo2 {
	/*	display:none;*/
	width: 274px;
	height: 192px;
	background: url(../images/heart.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: auto;
	padding: 0;
}

.mainlogo3 {
	/*	display:none;*/
	width: 274px;
	height: 192px;
	background: url(../images/likey.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: auto;
	padding: 0;
}
.video1{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	display: none;
	z-index: -1;
}
.video2{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	display: none;
	z-index: -1;
}
.video3{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	display: none;
	z-index: -1;
}
.hover {
    opacity: 0;
    transform: scale(1.3);
    transition: all 1s linear;
}

/* VIDEOS
================================================ */

.videos {
	position: absolute;
	display: block;
	z-index: 1;
	width: 100%;
	top: 0;
	padding: 0;
	margin: 0;
	text-align: center;
	animation: flash 3s infinite ease-in;
	-webkit-animation: flash 3s infinite ease-in;
	-moz-animation: flash 3s infinite ease-in;
	-o-animation: flash 3s infinite ease-in;
	-ms-animation: flash 3s infinite ease-in;
}

@keyframes flash {
	0%,
	50%,
	100% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0;
	}
}

@-webkit-keyframes flash {
	0%,
	50%,
	100% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0;
	}
}

@-moz-keyframes flash {
	0%,
	50%,
	100% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0;
	}
}

@-o-keyframes flash {
	0%,
	50%,
	100% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0;
	}
}

@-ms-keyframes flash {
	0%,
	50%,
	100% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0;
	}
}

.message {
	width: 598px;
	height: 86px;
	background-image: url(../images/message.png);
}

.videos ul {
	list-style: none;
	margin: 0;
	padding: 35% 0 0;
	text-align: center;
	margin: 0 auto;
	display: block;
}

.videos ul li {
	margin: 0;
}

.videos ul li a {
	display: block;
	width: 108px;
	margin: 0 auto 10px;
	opacity: 0.8;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

.videos ul li a:hover {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	opacity: 1.0;
}


/**/

.mv-thumb {
	padding: 0;
	margin: 0;
}

.videos img {
	border: none;
	padding: 0;
	margin: 0;
	/**/
	max-width: 100%;
}
@media only screen and (max-width: 1920px) {
	#mainlogo {

		margin: 2% auto;

	}
}
@media only screen and (max-width: 768px) {
	#mainlogo {
		background: url(../images/mainlogo-m.png);
		background-size: cover;
		background-repeat: no-repeat;
		margin: 9% auto;
		padding: 0;
		text-indent: -9999px;
		z-index: -22;
		opacity: 1;
		transition: all 1s ease;
		-o-transition: all 1s ease;
		-ms-transition: all 1s ease;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
	}
	#mainlogo:hover {
		transform: scale(1.3);
		-ms-transform: scale(1.3);
		-o-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-webkit-transform: scale(1.3);
		opacity: 0;
	}
	.videos ul {
		padding: 32% 0 0;
	}
}

@media only screen and (max-width: 479px) {
	#mainlogo {
		background: url(../images/mainlogo-m.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 90%;
		margin:9% auto 0;
		padding: 0;
		text-indent: -9999px;
		z-index: -22;
		opacity: 1;
		transition: all 1s ease;
		-o-transition: all 1s ease;
		-ms-transition: all 1s ease;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
	}
	#mainlogo:hover {
		transform: scale(1.3);
		-ms-transform: scale(1.3);
		-o-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-webkit-transform: scale(1.3);
		opacity: 0;
	}
	.videos {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-o-transform: scale(0.8);
		-ms-transform: scale(0.8);
	}
	.videos ul {
		padding: 30% 0 0;
	}
}